<div id="intro">
	<h3>Modification d'un commentaire</h3>
</div>
<div id="left">
	<%= render 'form' %>
</div>
<div id="right">
	<%= link_to 'Voir', @comment %> |
	<%= link_to 'Retour', comment_path %>
</div>