<%= form_for([@recette, @recette.comments.build]) do |f| %>
  <p><%= f.label :ajouter_un_commentaire %></p>
  <br>
  <p><%= f.text_area :content, :class => 'quill_container', cols: 40, rows: 20 %></p>
  <br>
  <p><%= f.submit 'Ajouter le commentaire', class: 'actions comments' %></p>
  <br>
<% end %>