<%= form_for([@recette, @recette.comments.build]) do |f| %>
<%= f.label :ajouter_un_commentaire %>

<%= f.text_area :content, :class => "tinymce", :cols => 90 %>
<p class="actions">
	<%= link_to "Ajouter le commentaire", "#", :id => "Commentaire" %>
</p>
<hr />
<% end %>