<h3>Nos 10 derni&egrave;res recettes</h3>
<table width="100%">
	<tr align="left">
		<th></th>
		<th>Titre</th>
		<th>Auteur</th>
	</tr>
	<tr>
		<td colspan="3">
		<hr />
		</td>
	</tr>
	<% @recettes.each do |recette| %>
	<tr class="<%= get_row_color(@pos) %>">
		<td width="125"> <% if recette.photo then %>
		<%= link_to(cl_image_tag(recette.photo.path, { size: '125x125', crop: :fit }), "http://res.cloudinary.com/livre-recettes/image/upload/#{recette.photo.path}", target: :blank)%>
		<% end %> </td>
		<td><%= link_to recette.titre, recette %></td>

		<td><%= link_to get_username(recette[:user_id]), user_path(recette[:user_id]) %></td>
	</tr>
	<% @pos = @pos + 1 %>
	<% end %>
</table>