<div id="intro">
	<h3>Modification d'une recette</h3>
</div>
<div id="left">
<%= render 'form' %>
</div>
<div id="right">
<%= link_to 'Voir', @recette %> |
<%= link_to 'Retour', recettes_path %>
</div>