<main class="contenu">
	<h3>Modification d'une recette</h3>
	<header class="header">
		<%= link_to 'Voir', @recette, class:'actions' %> |
		<%= link_to 'Retour', recettes_path, class: 'actions' %>
	</header>
	<%= render 'form' %>

</main>
