<div id="contenu">
	<h3>Modification d'une recette</h3>
	<div align="center" class="actions">
		<%= link_to 'Voir', @recette %> |
		<%= link_to 'Retour', recettes_path %>
	</div>
	<%= render 'form' %>

</div>
