<div id="content">
	<h3>Bienvenue sur Nos Recettes</h3> <% if current_user then %>
	<%= current_user.username %>
	<% end %>

	<%= render 'results'%>

	<% if current_user then %>
	<p>
		Bonjour <b><%= current_user.username %></b>
	</p>
	<%= link_to 'Nouvelle Recette', new_recette_path %>
	<% end %>

</div>
