<div id="intro">
	<h3>Bienvenue sur Nos Recettes</h3>
</div>
<div id="left">
	<%= render 'results'%>
</div>
<div id="right">
	<% if current_user then %>
	<p>
		Bonjour <b><%= current_user.username %></b>
	</p>
	<%= link_to 'Nouvelle Recette', new_recette_path %>
	<% end %>

</div>
