<div id="intro">
<h3>Bienvenue sur Nos Recettes</h3>
</div>
<div id="left">
	<table width="100%%" border="0">
		<tr><td colspan="2"><h3>Nos 3 derni&egrave;res recettes</h3></td></tr>
		<tr align="left">
			<th>Titre</th>
			<th>Auteur</th>
		</tr>
		<tr>
			<td colspan="2">
			<hr />
			</td>
		</tr>
		<% @last_recettes.each do |recette| %>
		<tr>
			<td><%= link_to recette.titre, recette %></td>
			<td><%= link_to get_username(recette[:user_id]), user_path(recette[:user_id]) %></td>
		</tr>
		<% end %>
	</table>
</div>
<div id="right">
	<% if current_user then %>
	<p>
		Bonjour <b><%= current_user.username %></b>
	</p>
	<%= link_to 'Nouvelle Recette', new_recette_path %>
	<% end %>
	
</div>
