/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_mixins
 */
/**
* Conditional Media Query Mixin
* by @sheiko (http://dsheiko.com)
* 
* The problem this mixin solves is explained there 
* http://css-tricks.com/conditional-media-query-mixins/
*
* https://github.com/dsheiko
* MIT license: http://www.opensource.org/licenses/mit-license.php
*/
/* line 62, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header {
  position: absolute;
  top: 50px;
  width: 100%;
  min-width: 920px;
  background-color: #FDE8E2;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}
/* line 69, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header h1 {
  text-align: right;
  padding-right: 25px;
  margin-top: -30px;
  font-size: 2.368593037em;
}
/* line 74, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header h1 .nos {
  color: #AFB8D0;
}
/* line 77, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header h1 a {
  color: #000000;
  text-decoration: none;
}
/* line 83, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header #search {
  margin-top: 15px;
  margin-left: 20px;
}
/* line 86, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header #search a {
  color: #FDE8E2;
  text-decoration: none;
  background-color: #57656B;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 100, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#header #search a:hover {
  color: #DF9287;
}

/* line 106, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#topmenu {
  top: 0px;
  height: 50px;
  width: 100%;
  margin-top: -30px;
  padding-top: 30px;
  background-color: #57656B;
}
/* line 113, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#topmenu ul {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  list-style-type: none;
}
/* line 117, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#topmenu a {
  color: #FDE8E2;
  text-decoration: none;
  font-size: 16px;
}
/* line 123, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#topmenu .current {
  color: #DF9287;
}
/* line 126, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#topmenu a:hover {
  color: #DF9287;
}
/* line 129, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#topmenu li {
  display: inline;
  padding-right: 25px;
}

/* line 134, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content {
  padding-top: 60px;
  margin-left: 40px;
  padding-right: 60px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 21px;
}
/* line 140, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content a {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-decoration: none;
  color: #DF9287;
}
/* line 145, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content a:hover {
  color: #000000;
}
/* line 148, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
/* line 153, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content tr:hover {
  background-color: #AFB8D0;
}
/* line 155, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content tr:hover a {
  color: #FDE8E2;
}
/* line 159, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content .nouvelle_recette {
  color: #FDE8E2;
  text-decoration: none;
  background-color: #57656B;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 173, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content th {
  color: #000000;
}
/* line 176, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content h3 {
  padding-top: 15px;
  color: #000000;
}
/* line 180, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#content h2 {
  color: #57656B;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
  /* line 134, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #content {
    font-size: 16px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1260px) {
  /* line 134, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #content {
    font-size: 36px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  /* line 134, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #content {
    font-size: 36px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 134, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #content {
    font-size: 16px;
  }
}

/* line 202, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu {
  padding-top: 60px;
  margin-left: 40px;
  padding-right: 60px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 21px;
}
/* line 208, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu ul {
  list-style-type: circle;
}
/* line 212, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu a {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  text-decoration: none;
  color: #DF9287;
}
/* line 217, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu a:hover {
  color: #000000;
}
/* line 220, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}
/* line 226, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu .nouvelle_recette {
  color: #FDE8E2;
  text-decoration: none;
  background-color: #57656B;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 240, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu th {
  color: #000000;
}
/* line 243, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu h3 {
  padding-top: 15px;
  color: #000000;
}
/* line 247, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu h2 {
  color: #57656B;
}
/* line 251, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu .actions a {
  color: #FDE8E2;
  text-decoration: none;
  background-color: #57656B;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}
/* line 266, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu .actions a:hover {
  color: #DF9287;
}
/* line 269, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#contenu .actions label {
  text-align: left;
  color: #000000;
  font-weight: bold;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 120dpi) {
  /* line 202, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #contenu {
    font-size: 16px;
  }
}
@media only screen and (min-width: 961px) and (max-width: 1260px) {
  /* line 202, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #contenu {
    font-size: 48px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 960px) {
  /* line 202, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #contenu {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 202, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
  #contenu {
    font-size: 16px;
  }
}

/* line 294, /Users/dcloutier/RubymineProjects/Livre_recette_v3/app/assets/stylesheets/application.css.scss */
#messages {
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: -60px;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-weight: bold;
  color: #FF0000;
}
