<div id="header">
  <%= render 'shared/search' %>
  <h1><a href="<%= home_path %>">
    <div id="element-0" class="element">Nos</div>
    <div id="element-1" class="element">Recettes</div>
  </a></h1>
</div>
