@import "bourbon";

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_mixins
 */

// 4F84C4 => 1er bandeau du haut
// 4F84C4 => 2e bandeau du haut
// DF9287 => liens
// 000000 => mauve texte
// AFB8D0 => "nos" texte
// CBE8EA => couleur TR alterne

#header {
  position: absolute;
  top: 50px;
  width: 100%;
  min-width: 920px;
  background-color: #8E918F;
  font-family: helvetica;
  h1 {
    text-align: right;
    padding-right: 25px;
    margin-top: -30px;
    .element {
    }
    #element-0 {
      color: #FFFFFF;
      margin-right: 175px;
      margin-bottom: -25px;
      z-index: 10;
    }
    #element-1 {
      z-index: 1;
      margin-right: 25px;
    }
    a {
      color: #000000;
      text-decoration: none;
    }
  }

  #search {
    margin-top: 15px;
    margin-left: 20px;
    a {
      color: #ffffff;
      text-decoration: none;
      background-color: #223A5E;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 15px;
      @include border-top-radius(5px);
      @include border-right-radius(5px);
      @include border-bottom-radius(5px);
      @include border-left-radius(5px);
    }
    a:hover {
      color: #ffffff;
      background-color: #4F84C4;
    }
  }

}

#topmenu {
  top: 0px;
  height: 50px;
  width: 100%;
  margin-top: -30px;
  padding-top: 30px;
  background-color: #223A5E;
  ul {
    font-family: helvetica;
    list-style-type: none;
  }
  a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;

  }
  .current {
    color: #DF3F32;
  }
  a:hover {
    color: #EBCED5;
  }
  li {
    display: inline;
    padding-right: 25px;
  }
}

// table headers
th {
  color: #C46215;
}

h3 {
  padding-top: 15px;
  color: #DF3F32;
}

h2 {
  color: #57656B;
}

#content {
  padding-top: 60px;
  margin-left: 40px;
  padding-right: 60px;
  font-family: helvetica;
  a {
    font-family: helvetica;
    text-decoration: none;
    color: #5C2C35;
  }
  a:hover {
    color: #DF3F32;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  tr:hover {
    background-color: #223A5E;
    a {
      color: #EBCED5;
    }
    white {
      background-color: #ffffff;
    }
  }
  .even {
    color: #ffffff;
    background-color: #57656B;
    a {
      color: #ffffff;
    }
  }
  .odd {
    background-color: #ffffff;
  }
  .nouvelle_recette {
    color: #FDE8E2;
    text-decoration: none;
    background-color: #223A5E;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
  }
}

#contenu {
  padding-top: 60px;
  margin-left: 40px;
  padding-right: 60px;
  font-family: helvetica;
  ul {
    list-style-type: circle;
  }

  a {
    font-family: helvetica;
    text-decoration: none;
    color: #DF9287;
  }
  a:hover {
    color: #000000;
  }
  td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }

  .nouvelle_recette {
    color: #FDE8E2;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 15px;
    @include border-top-radius(5px);
    @include border-right-radius(5px);
    @include border-bottom-radius(5px);
    @include border-left-radius(5px);
  }

  .actions {
    a {
      color: #FDE8E2;
      text-decoration: none;
      background-color: #223A5E;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-left: 10px;
      margin-right: 10px;
      @include border-top-radius(5px);
      @include border-right-radius(5px);
      @include border-bottom-radius(5px);
      @include border-left-radius(5px);
    }
    a:hover {
      color: #DF9287;
    }
    label {
      text-align: left;
      color: #000000;
      font-weight: bold;
    }
  }
}

#messages {
  margin-left: 40px;
  margin-top: 100px;
  margin-bottom: -60px;
  font-family: helvetica;
  font-weight: bold;
  color: #FF0000;
}

.recettes_list {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
}

@media only screen and (max-width: 361px) {
  .recettes_list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 412px) {
  .recettes_list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 769px) {
  .recettes_list {
    grid-template-columns: 35%;
  }
}


@media only screen and (max-width: 1025px) {
  .recettes_list {
    grid-template-columns: 40%;
  }
}


.recette {
  border: 1px solid #222;
  text-align: center;
  color: slategray;
  min-width: 325px;
}

a.user {
  size: 0.5rem !important;
}

.actions {
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

#body {
  width: 100%;
  height: 100%;
}
