<main class="contenu">
  <header>
    <h3>Liste des cat&eacute;gories</h3>
  </header>
  <section class="categories_header">
    <h4>Nom</h4>
    <hr>
  </section>
  <section>
    <% @categories.each do |category| %>
      <section class="categories_recettes_list">
        <%= link_to category.nom, category %>
        <%= pluralize(nombre_recette_pour_category(category), "recette") %>
        <% if user_is_admin? then %>
          <%= link_to 'Modifier', edit_category_path(category), class: 'categories_actions' %>
        <% end %>
        <% if user_is_admin? then %>
          <%= link_to 'Effacer', category, method: :delete, data: {confirm: 'Etes-vous certain?'}, class: 'categories_actions' %>
        <% end %>
      </section>
    <% end %>

  </section>
</main>